form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 520px;
}

label {
  display: flex;
  align-items: center;
  gap: 10px;
}

label input {
  flex: 1;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

button {
  width: 50%;
  display: block;
  margin: 0 auto;
}